@font-face {
	font-family: mazeletter;

	src: url("../assets/mazeletter-path.eot");

	src: url("../assets/mazeletter-path.eot") format("embedded-opentype"),
		url("../assets/mazeletter-path.woff") format("woff"),
		url("../assets/mazeletter-path.woff2") format("woff2"),
		url("../assets/mazeletter-path.ttf") format("truetype"),
		url("../assets/mazeletter-path.svg") format("svg");

	font-weight: normal;
	font-style: normal;
}

html {

	--background-bg: #0b0a0c;
	--background-fg: #09080a;

	--page-bg: #17141b;
	--default-text-color: #FFFFFF;

	--large-edit-component-bg: #11111b;
	--static-component-bg: #48485c;

	--base-color: rgb(255, 145, 0);
	--base-color-inactive: rgba(225, 145, 0, 0.2);
	--base-color-almost: rgba(225, 145, 0, 0.5);
	--base-color-active: rgba(225, 145, 0);

	--header-color: rgb(245, 200, 141);
	--subheader-color: rgb(170, 113, 48);
	--highlight-color: rgb(250, 185, 100);

	--trim-color: rgb(56, 41, 26);
}

html[data-theme='light'] {
	--background-bg: #d9e1ec;
	--background-fg: #e3e7f5;

	--page-bg: #e6f4f7;
	--default-text-color: #000000;

	--large-edit-component-bg: #f3e9d4;
	--static-component-bg: #e9be6f;

	--base-color: rgb(255, 145, 0);
	--base-color-inactive: rgba(126, 92, 28, 0.2);
	--base-color-almost: rgba(126, 92, 28, 0.5);
	--base-color-active: rgb(126, 92, 28);

	--header-color: rgb(245, 200, 141);
	--subheader-color: rgb(202, 161, 115);
	--highlight-color: rgb(194, 114, 10);

	--trim-color: rgb(56, 41, 26);
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
