body {
    background-color: dodgerblue;

    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

#background {
    background-color: cornflowerblue;
    display: block;
    position: fixed;
    width: 100%;
    height: 33%;
    left: 0;
    top: 67%;
}

main {
    position: relative;
    margin: 0;
    padding: 0;
    top: 33%;
    left: 0;
    height: 66%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

main * {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

#title {
    font-weight: 700;
}

#subtitle {
    font-weight: 400;
}

#me {
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #555);
}

#mainList {
    bottom: 67%;
}

#links {
    top: 67%;
    display: inline-block;
    margin-top: 50px
}

#links li {
    display: inline-block;
    margin: 0px 20px;
    opacity: 0.5;

    transition: all 0.5s ease-in-out;

    background-blend-mode: multiply;
}

#links li:hover {
    opacity: 1;

    transition: all 0.5s ease-in-out;
}

#links li p {
    color: rgba(0,0,0,0);

    transition: all 0.5s ease-in-out;
}

#links li:hover p {
    color: rgba(0,0,0,1);

    transition: all 0.5s ease-in-out;
}
