* {
    background-color: white;
}

body {
    font-family: Terminal, monospace;
    cursor: default;
}

#messageBox {
    position: absolute;
    top: 80%;
    left: 2%;
    border: 4px double black;
    width: 63%;
    height: 16%;
    text-align: left;
    padding-left: 3px;
}

#optionsBox {
    position: absolute;
    top: 80%;
    left: 69%;
    width: 27%;
    height: 16%;
    text-align: left;
    padding-left: 0;
}

#options {
    position: relative;
    top: 1%;
    left: 1%;
    text-align: right;
    height: 98%;
    width: 98%;
    font-size: 100%;
}

#ePlat {
    position: absolute;
    top: 100px;
    right: -10px;
}

#fPlat {
    position: absolute;
    bottom: 90px;
    left: -10px;
}

.menuItem {
    position: relative;
    vertical-align: middle;
    width: 50%;
    height: 50%
}

