* {
    background-color: white;
}

body {
    font-family: Terminal, monospace;
    cursor: default;
}

#messageBox {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 80%;
    left: 2%;
    border: 4px double black;
    width: 96%;
    height: 18%;
    text-align: left;
    padding: 5px;
}

#optionsBox {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 80%;
    right: 2%;
    width: 47%;
    height: 18%;
    border: 4px double black;
    text-align: left;
    padding-left: 0;
}

#options {
    position: relative;
    top: 1%;
    left: 1%;
    text-align: right;
    height: 98%;
    width: 98%;
    font-size: 100%;
}

#ePlat {
    position: absolute;
    top: 100px;
    right: -10px;
}

#fPlat {
    position: absolute;
    bottom: 90px;
    left: -10px;
}

.menuItem {
    position: relative;
    vertical-align: middle;
    width: 50%;
    height: 50%
}

.pokemon {
    position: fixed;
    display: inline-block;
    background-color: transparent;
    padding: 0;
    margin: 0;

    -webkit-transition: 1.5s linear;
    -moz-transition: 1.5s linear;
    -ms-transition: 1.5s linear;
    -o-transition: 1.5s linear;
    transition: 1.5s linear;
}

img {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#enemy {
    top: 0;
    left: 100%;
}

#friendly {
    bottom: 20%;
    right: 100%;
}