body {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: 500px;
    margin: 50px auto;
    padding: 0;
    text-align: center;
}

#paperlookinthing {
    width: 100%;
    resize: vertical;
    min-height: 100px;
    padding: 5px;
    border: 0;
    -webkit-box-shadow: 10px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px rgba(0,0,0,0.5);
    box-shadow: 10px 10px rgba(0,0,0,0.5);

    overflow: hidden;
}

#data {
    margin-top: 25px;
    width: 100%;
}

#data th {
    width: 33.33333333333333%;
}