body {
    width: 100%;
    height: 100%;
    background-color: #E3CF91;
    margin: 0;
    font-family: 'Baloo Bhaina', sans-serif;
    text-align: center;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
}

#image-upload {
    width: 75%;
    max-width: 500px;
    margin: 50px auto;
    padding: 0;
    background-color: #ECE7AB;
    border: dashed #D28C5F;
    border-radius: 10px;
    line-height: 100px;
    cursor: pointer;
}

#title {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

#subtitle {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.imageLayer {
    margin: 100px 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

#toolsWrapper {
    width: 100%;
    position: fixed;
    text-align: center;
}

#tools {
    z-index: 1;
}

#tools * {
    z-index: 1;
}

.tool {
    margin: 10px;
    cursor: pointer;
    float: left;
    border-radius: 4px;
    overflow: auto;
    width: 120px;
}

.container {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

.container .tooltip {
    visibility: hidden;
    width: 80px;
    margin-left: -40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 0;
    border-radius: 6px;
    top: 110%;
    left: 50%;
    font-size: 16px;

    position: absolute;
    z-index: 1;
}

.container:hover .tooltip {
    visibility: visible;
}

.tool > .buttonspan {
    background-color: #F7F7F7;
    border: solid #404040 3px;
    color: #404040;
    text-align: center;
    padding: 13px 0;
    display: block;
}

.tool > input {
    position: absolute;
    top: -20px;
    display: none;
}

.tool > input:checked + .buttonspan {
    background-color: #404040;
    color: #F7F7F7;
    border: solid #F7F7F7 3px;
}

#picker {
    display: none;
}