* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #202020;

    text-align: center;
}

a, a:active, a:focus {
    outline: none;
    color: black;
    border: 0;
}

#me {
    border: solid whitesmoke 5px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    width: 100px;

    margin-top: 50px;
}

.text {
    color: whitesmoke;
}

.icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    display: block;
    position: relative;

    width: 50px;
    height: 50px;

    text-align: center;
    padding: 0;
    margin: 0;

    background-color: greenyellow;

    cursor: pointer;

    transition: .25s ease-out;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.icon:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

a:active .icon {
    -webkit-transform: scale(.9, .9);
    -moz-transform: scale(.9, .9);
    -ms-transform: scale(.9, .9);
    -o-transform: scale(.9, .9);
    transform: scale(.9, .9);
}

.tooltip {
    display: inline-block;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    white-space: nowrap;

    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    position: absolute;
    z-index: 1;
}

.icon:hover + .tooltip {
    visibility: visible;
}

i {
    display: block;
    padding: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50);
    -ms-transform: translate(-50%, -50);
    -o-transform: translate(-50%, -50);
    transform: translate(-50%, -50);
}

ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 10px;
    position: relative;
}