#me {
    border: solid whitesmoke 5px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}